body {
  background-color: rgb(254, 253, 250);
  margin: 0;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  min-width: 400px;
}

input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 5px;
  border: 1px solid #5f9341;
  background-color: rgb(254, 253, 250);
}

input:focus {
  outline: 1px solid #5f9341;
}

button {
  background-color: #5f9341;
  color: rgb(254, 253, 250);
  font-weight: bold;
  padding: 10px 20px;
  border: 1px solid #5f9341;
}

#del-btn {
  background-color: rgb(254, 253, 250);
  color: #5f9341;
}

#leads {
  list-style: none;
  padding: 0 5px;
}

li a {
  color: #5f9341;
  margin-bottom: 5px;
  font-size: 15px;
  font-weight: normal;
  text-decoration: underline;
}

a {
  text-decoration: none;
  color: #5f9341;
  font-weight: bold;
}
